<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
	<center>
		<form action="{{ url_for('handle_form_submit') }}" method="post">
			<label for="game_name">Game Name</label>
			<input type="text" id="game_name" name="game_name" value="{{ request.form['game_name'] }}"/>
			
			<label for="system_pc">PC</label>
			<input type="checkbox" id="system_pc" name="system_pc" value="{{ request.form['system_pc'] }}" checked/>

			<label for="system_ps4">PS4</label>
			<input type="checkbox" id="system_ps4" name="system_ps4" value="{{ request.form['system_ps4'] }}" checked/>

			<label for="age_bracket_from">Age Group</label>
			<input type="number" id="age_bracket_from" name="age_bracket_from" min="13" value="{{ request.form['age_bracket_from'] }}">
			<input type="number" id="age_bracket_to" name="age_bracket_to" max="75" value="{{ request.form['age_bracket_to'] }}">

			<label for="datetime_from">From</label>
			<input type="datetime-local" id="datetime_from" name="datetime_from" value="{{ request.form['datetime_from'] }}">
			<label for="datetime_to">To</label>
			<input type="datetime-local" id="datetime_to" name="datetime_to" value="{{ request.form['datetime_to'] }}">

			<input type="submit" value="submit"/>
		</form>
	</center>

<!--  -->

  <center>
    <h1>{{ title }}</h1>

    <canvas id="chart" width="600" height="400"></canvas>
    <script>

      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	    	{% for item in gameplay_values %}
              {{ item }},
            {% endfor %}
          ]
         },{
          fillColor: "rgba(251,187,105,0.2)",
          strokeColor: "rgba(251,187,105,1)",
          pointColor: "rgba(251,187,105,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(251,187,105,1)",
          bezierCurve : false,
          data : [
	    	{% for item in purchase_values %}
              {{ item }},
            {% endfor %}
          ]
		}]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");

      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        // scaleShowLabels: true,
        bezierCurve: false,
      });

    </script>
  </center>
</body>
</html>